@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
}
.head {
  display: flex;
  justify-content: start;
  background-color: #8018b4;
  height: 60px;
  align-items: center;
  width: 100%;
}
.head a {
  flex-basis: 100px;
  text-decoration: none;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  border-right: 2px solid;
}
.head a:hover {
  background-color: #c56cf0;
}

button {
  width: 100%;
  border: 2px solid;
  height: 30px;
  font-size: larger;
  border-left: none;
  border-right: none;
  font-family: "Poppins", sans-serif;
  background-color: #d2b4e1;
  margin-bottom: 15px;
}
.head i {
  height: 90%;
  cursor: pointer;
  width: 55px;
  font-size: 40px;
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 15px;
  border-radius: 50%;
  justify-content: center;
  background-color: #cd84f1;
}
.head i div {
  position: absolute;
  font-family: "Poppins", sans-serif;
  width: 200px;
  height: 270px;
  transform: translate(-50%, 50%);
  background-color: white;
  border: 2px solid #9e17e1;
  border-radius: 8px 0 8px 8px;
  visibility: hidden;
  opacity: 0;
}
.user-data::before {
  content: "";
  position: absolute;
  background-color: #5f277c;
  border-radius: 8px 0 0 0;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: -1;
}
.user-data {
  height: 100%;
  width: 100%;
}
.user-data i {
  width: 30px;
  height: 30px;
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 15px;
}
.user-data p {
  font-size: 15px;
  width: 100%;
  margin-top: 6px;
  text-align: center;
}
.user-data h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.add-account {
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  text-align: left;
  border: none;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  border-top: 2px solid;
}
.manage-account {
  width: 100%;
  font-size: 15px;
  border: none;
  text-align: left;
  padding-left: 10px;
  position: absolute;
  margin-left: 50%;
  top: 61%;
  margin-top: none;
  transform: translate(-50%);
  font-size: 15px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.signout-button {
  width: 60%;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%);
  box-shadow: 2px 2px #c56cf0;
  border: 1px solid;
  border-radius: 8px;
  top: 80%;
  font-size: 20px;
}
.head i:hover div {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
  cursor: auto;
}
button:hover {
  background-color: #c56cf0;
}
.container {
  display: flex;
  width: 90%;
  margin: 30px auto auto auto;
  justify-content: space-around;
}
.progress,
.complete {
  width: 45%;
  border: 2px solid;
  background-color: #f0d8fc;
  box-shadow: 2px 2px 4px #c56cf0;
  border-radius: 5px;
  padding: 15px 3px auto 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}
.color {
  position: absolute;
  width: 90%;
  background-color: #cd84f1;
  height: 85vh;

  z-index: -1;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}
.add {
  width: 85%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  border: 2px solid lightgray;
}
.bx-add-to-queue{
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: azure;
  justify-content: center;
  font-size: 25px;
  padding-top: 2px;
}
input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  font-size: 15px;
  border: none;
}
input:hover,
input:focus {
  outline: 2px gray solid;
  background-color: aliceblue;
}
.work {
  margin-top: 20px;
  width: 85%;
  height: auto;
 
}
.work > * {
  min-height: 40px;
  width: 100%;
  border: 2px solid #a545d5;
  padding: 4px 5px;
  border-radius: 8px;
  background-color: azure ;
}
footer {
  width: 100%;
  background-color: #8018b4;
  border: 2px solid;
  color: #ede1f3;
  margin-top: 100px;
  height: 200px;
  text-align: center;
}
.about {
  width: 80%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.about h5 {
  width: 100%;
  font-size: 15px;
}
.social-icons {
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icons i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
}
.social-icons i:hover {
  cursor: pointer;
  font-size: 40px;
  transition-duration: 0.2s;
}
