@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2eeeb;
}
.website-name {
  width: 25%;
  display: flex;
  margin-left: 15px;
  color: white;
  font-size: 200%;
  justify-content: start;
  font-family: "Cinzel", serif;
  align-items: center;
}
.header {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #164863;
}
.head {
  display: flex;
  justify-content: end;
  background-color: #164863;
  height: 60px;
  align-items: center;
  width: 100%;
  width: 80%;
}

.head > a {
  flex-basis: 100px;
  text-decoration: none;
  color: white;
  padding: 15px;
  text-align: center;
  transition: 0.5s ease;
  font-weight: 900;
  font-size: 20px;
  border: 2px solid;
  border-bottom: none;
  border-top: none;
}
.head > a:hover {
  background-color: #427d9d;
}
button,
.head i .user-data a {
  width: 100%;
  border: #164863 2px solid;
  height: 30px;
  font-size: larger;
  border-left: none;
  transition: 0.5s ease;
  border-right: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: #ddf2fd;
  margin-bottom: 15px;
}
.head i {
  height: 90%;
  cursor: pointer;
  width: 55px;
  font-size: 40px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-right: 15px;
  border-radius: 50%;
  justify-content: center;
  background-color: #ddf2fd;
}
.head i .user-data {
  position: absolute;
  font-family: "Poppins", sans-serif;
  width: 200px;
  height: 270px;
  transform: translate(-50%, 50%);
  background-color: white;
  border: 2px solid #164863;
  border-radius: 8px 0 8px 8px;
}
.head i .user-data a {
  background-color: #ddf2fd;
  font-size: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: black;
}
.user-data::before {
  content: "";
  position: absolute;
  background-color: #164863;
  border-radius: 8px 0 0 0;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: -1;
}
.user-data {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.user-data i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 15px;
}
.user-data p {
  font-size: 15px;
  width: 100%;
  margin-top: 6px;
  text-align: center;
}
.user-data h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.add-account {
  width: 100%;
  font-size: 15px;
  text-align: left;
  border: none;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  border-top: 2px solid;
}
.manage-account {
  width: 100%;
  font-size: 15px;
  border: none;
  text-align: left;
  padding-left: 10px;
  position: absolute;
  top: 61%;
  margin-top: none;
  font-size: 15px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.signout-button {
  width: 60%;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%);
  box-shadow: 2px 2px #164863;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  top: 80%;
  font-size: 20px;
}
.head i:hover div {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
  cursor: auto;
  z-index: 2;
}
button:hover,
.head i .user-data a:hover {
  background-color: #9bbec8;
  border-color: #164863;
  box-shadow: inset 0px 0px 1px 1px #427d9d;
}
.header-image {
  width: 100%;
  height: 200px;
  background-image: url(images/landing-image.png);
  background-size: cover;
  background-clip: border-box;
}
.header-image div {
  background-color: transparent;
  font-family: "Kaushan Script", cursive;
  font-size: 500%;
  color: white;
  width: max-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}
.interact,
.todo,
.done {
  border: none;
  width: 30%;
  border-radius: 8px;
  height: 60vh;
  background-image: url(images/background_chatbox.png);
  border: #164863 1px solid;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #9bbec8;
  box-shadow: 2px 2px 4px #427d9d;
  overflow: auto;
}
.interact {
  display: flex;
  flex-direction: column;
  background-image: url(images/background_chatbox.png);
  background-size: cover;
}
.request{
  width: 100%;
}
h2 {
  width: 100%;
  padding-left: 5px;
  border-radius: 8px 8px 0 0;
  text-align: left;
  
  padding-left: 15px;
  font-size: 20px;
  color: white;
  background-color: #427d9d;
}
.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: end;
  row-gap: 4px;
}
.chat > h2 {
  margin-bottom: 9px;
}
.chat > div {
  border: #427d9d 2px solid;
  max-width: 90%;
  float: right;
  height: fit-content;
  margin-right: 10px;
  background-color: white;
  border-radius: 6px 6px 0 6px;
  padding: 3px 4px;
}
.todo > div,
.done > div {
  border: #427d9d 2px solid;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 3px 4px;
}
#task1{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#stop_timer_button{
  display: none;
}
#task1 i{
  color:#164863;;
}
.done>div{
  margin-bottom: 15px;
}
.todo>button:nth-child(n+5){
  width:50%;
  margin-left: auto;
  border:1px solid #164863;
  border-radius:5px;
  opacity: 0;
}
.todo:hover button{
  opacity: 1;
}
.todo > div .bxs-circle,
.done > div .bxs-circle {
  color: #164863;
  margin-top: 4px;
}
.chat-input {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 40px;
  height: fit-content;
  border-radius: 0 0 8px 8px;
}
.chat-input input {
  width: 100%;
  border-radius: 0 0 0 8px;
  height: 100%;
  font-size: large;
  border: none;
  outline: none;
  padding-left: 8px;
  border-top: 1px rgb(3, 5, 5) solid;
}
::-webkit-scrollbar {
  display: none;
}
.chat-input button {
  background-color: #ddf2fd;
  box-shadow: inset 0px 0px 1px 1px #427d9d;
  border-radius: 0 0 8px 0;
  margin-left: auto;
  margin: 0;
  height: 100%;
  border: none;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.chat-input input:hover {
  box-shadow: 2px 2px #427d9d inset;
}
.chat-input button:hover {
  background-color: #427d9d;
}
input[type="file"] {
  display: none;
}
.document-upload {
  min-height: 110px;
  background-color: #427d9d;
  max-width: 800px;
  width: 70%;
  min-width: 400px;
  border-radius: 8px;
  margin-left: 40px;
  display: flex;
  color: white;
  padding-left: 10px;
  box-shadow: 2px 2px 4px #427d9d;
}
.upload {
  display: flex;
  align-items: end;
  font-size: 20px;
}
.upload label:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.upload label {
  cursor: pointer;
}
.download {
  margin-left: auto;
  display: flex;
  align-items: end;
}
.download button {
  margin-bottom: 0;
  border: 1px solid;
  width: 160px;
  border-radius: 5px;
}
.up-text {
  position: absolute;
  font-size: 40px;
}
.bx-upload {
  font-size: 20px;
  margin-bottom: 0;
}
.doc-image {
  width: 140px;
  height: 140px;
  border: 2px solid #427d9d;
  box-shadow: 2px 2px 6px #427d9d;
  background-color: #9bbec8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc-image img {
  max-width: 100%;
  height: 120px;
}
.side-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  width: 90%;
}
footer {
  width: 100%;
  background-color: #164863;
  border: 2px solid;
  color: #ede1f3;
  margin-top: 100px;
  height: 200px;
  text-align: center;
}
.about {
  width: 80%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.about h5 {
  width: 100%;
  font-size: 15px;
}
.social-icons {
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icons i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
}
.social-icons i:hover {
  cursor: pointer;
  font-size: 40px;
  transition-duration: 0.2s;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 2px solid;
  width: 70vw;
  overflow: auto;
  height: 400px;
  background-color: #ede1f3;
  padding: 5px;
  display: none;
  z-index: 1;
}
.prompt-input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: #164863 2px solid;
  width: 70vw;
  height: 200px;
  background-color: #9bbec8;
  padding: 5px;
  display: none;
  z-index: 1;
}
.prompt-input input {
  width: 90%;
  min-height: 35px;
  padding-left: 10px;
  font-size: 24px;
}
.prompt-input input:hover {
  background-color: #ceecfc;
  border: 2px rgb(130, 127, 127) solid;
}
.prompt-input input:focus {
  outline: none;
  border: none;
  box-shadow: inset 0 0 2px 2px #427d9d;
}
.prompt-input form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.prompt-input form h5 {
  font-size: 120%;
  margin-bottom: 15px;
}
.prompt-input button {
  border: 2px solid;
  border-radius: 12px;
  margin-top: 15px;
  width: 200px;
}
.blur-div {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 1;
  background-color: #9bbec8b7;
  display: none;
}
.close-button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 6px;
}
.bx-window-close {
  font-size: 25px;
  cursor: pointer;
}
.grid-container {
  width: 100%;
  background-color: #9bbec8;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  overflow-wrap: break-word;
}
.grid-container > div ,.grid-container a{
  text-decoration: none;
  color:black;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.grid-container a:hover{
  font-size:105%;
  color: white;
  background-color:#143e54;
}
@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .interact,
  .todo,
  .done {
    width: 90%;
    height: 50vh;
  }
  .todo>button:nth-child(n+5){
    width: 30%;
  }
}
